In [4]:
pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py): started
  Building wheel for apyori (setup.py): finished with status 'done'
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=d8d2c85de71598fcca096fa77a47c74d48c9a23028ab5728430ed72b2ba32f08
  Stored in directory: c:\users\nimra amer\appdata\local\pip\cache\wheels\c4\1a\79\20f55c470a50bb3702a8cb7c94d8ada15573538c7f4baebe2d
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script apyori-run.exe is installed in 'c:\Users\Nimra Amer\AppData\Local\Programs\Python\Python310\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip available: 22.2.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd
import numpy as np
from apyori import apriori
from sklearn.preprocessing import LabelEncoder , MinMaxScaler

In [6]:
#Loading the dataset
data = pd.read_csv("DATA.csv" , names = ['Age' , 'WorkClass' , 'fnlwgt' , 'education' , 'education-num' , 'marital-status' , 'occupation' , 'relationship' , 'race' , 'Gender' , 'capital-gain' , 'capital-loss' , 'hours-per-week' , 'native-country' , 'Income'])
data.head()

,Age,WorkClass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,Gender,capital-gain,capital-loss,hours-per-week,native-country,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**Pre-Processing**

In [7]:
#looking for null values
print(data.isna().sum())

Age               0
WorkClass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
Gender            0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
Income            0
dtype: int64

In [8]:
mask = data['WorkClass'] == ' ?'
data = data[~mask]
data['WorkClass'].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' Self-emp-inc', ' Without-pay', ' Never-worked'],
      dtype=object)

In [9]:
data.dtypes

Age                int64
WorkClass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
Gender            object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
Income            object
dtype: object

In [10]:
len(data.columns)

15

**Association Rule Mining**

In [11]:
records = []
for i in range(0, 100):
    records.append([str(data.values[i,u]) for u in range(0, 15)])

Part-a : Use confidence as interestingness measure of an association rule. Rank the top 10 association
rules for at-least the three different combinations of support and confidence. Explain the rules and
why you consider it interesting and useful. Furthermore, also give recommendations based on the
discovered rules that might help the user.

In [12]:
rules = apriori(records, min_support=0.34, min_confidence=0.20,  min_length = 6) #for 20% confidence (Combination - 1)

results = list(rules)
results_list = []
for i in range(0, len(results)):
    results_list.append('RULE:/t' + str(results[i][0]) + '\nSUPPORT:\t' + str(results[i][1]))

In [13]:
results_list.sort(reverse = True)
results_list[:10]

["RULE:/tfrozenset({'40'})\nSUPPORT:\t0.53",
 "RULE:/tfrozenset({'40', '0'})\nSUPPORT:\t0.53",
 "RULE:/tfrozenset({'40', '0', ' United-States'})\nSUPPORT:\t0.44",
 "RULE:/tfrozenset({'40', '0', ' United-States', ' <=50K'})\nSUPPORT:\t0.34",
 "RULE:/tfrozenset({'40', '0', ' <=50K'})\nSUPPORT:\t0.41",
 "RULE:/tfrozenset({'40', ' United-States'})\nSUPPORT:\t0.44",
 "RULE:/tfrozenset({'40', ' United-States', ' <=50K'})\nSUPPORT:\t0.34",
 "RULE:/tfrozenset({'40', ' Male'})\nSUPPORT:\t0.39",
 "RULE:/tfrozenset({'40', ' Male', '0'})\nSUPPORT:\t0.39",
 "RULE:/tfrozenset({'40', ' <=50K'})\nSUPPORT:\t0.41"]

In [14]:
rules = apriori(records, min_support=0.34, min_confidence=0.30,  min_length = 6) #for 30% confidence (Combination - 2)

results = list(rules)
results_list = []
for i in range(0, len(results)):
    results_list.append('RULE:/t' + str(results[i][0]) + '\nSUPPORT:\t' + str(results[i][1]))

In [15]:
results_list.sort(reverse= True)
results_list[:10]

["RULE:/tfrozenset({'40'})\nSUPPORT:\t0.53",
 "RULE:/tfrozenset({'40', '0'})\nSUPPORT:\t0.53",
 "RULE:/tfrozenset({'40', '0', ' United-States'})\nSUPPORT:\t0.44",
 "RULE:/tfrozenset({'40', '0', ' United-States', ' <=50K'})\nSUPPORT:\t0.34",
 "RULE:/tfrozenset({'40', '0', ' <=50K'})\nSUPPORT:\t0.41",
 "RULE:/tfrozenset({'40', ' United-States'})\nSUPPORT:\t0.44",
 "RULE:/tfrozenset({'40', ' United-States', ' <=50K'})\nSUPPORT:\t0.34",
 "RULE:/tfrozenset({'40', ' Male'})\nSUPPORT:\t0.39",
 "RULE:/tfrozenset({'40', ' Male', '0'})\nSUPPORT:\t0.39",
 "RULE:/tfrozenset({'40', ' <=50K'})\nSUPPORT:\t0.41"]

In [16]:
rules = apriori(records, min_support=0.34, min_confidence=0.40,  min_length = 6) #for 40% confidence (Combination - 3)

results = list(rules)
results_list = []
for i in range(0, len(results)):
    results_list.append('RULE:/t' + str(results[i][0]) + '\nSUPPORT:\t' + str(results[i][1]))

In [17]:
results_list.sort(reverse = True)
results_list[:10]

["RULE:/tfrozenset({'40'})\nSUPPORT:\t0.53",
 "RULE:/tfrozenset({'40', '0'})\nSUPPORT:\t0.53",
 "RULE:/tfrozenset({'40', '0', ' United-States'})\nSUPPORT:\t0.44",
 "RULE:/tfrozenset({'40', '0', ' United-States', ' <=50K'})\nSUPPORT:\t0.34",
 "RULE:/tfrozenset({'40', '0', ' <=50K'})\nSUPPORT:\t0.41",
 "RULE:/tfrozenset({'40', ' United-States'})\nSUPPORT:\t0.44",
 "RULE:/tfrozenset({'40', ' United-States', ' <=50K'})\nSUPPORT:\t0.34",
 "RULE:/tfrozenset({'40', ' Male'})\nSUPPORT:\t0.39",
 "RULE:/tfrozenset({'40', ' Male', '0'})\nSUPPORT:\t0.39",
 "RULE:/tfrozenset({'40', ' <=50K'})\nSUPPORT:\t0.41"]

**Part b** :Use interest as an interestingness measure of an association rule. Rank the top 10 association
rules for at least three combinations of support and interest. Explain the rules and why you
consider it interesting and useful. Furthermore, also give recommendations based on the
discovered rules that might help the user.

In [18]:
#higher value of min_confidence = interest
rules = apriori(records, min_support=0.52, min_confidence=0.70,  min_length = 6) #for 70% confidence (Combination - 1)

results = list(rules)
results_list = []
for i in range(0, len(results)):
    results_list.append('RULE:/t' + str(results[i][0]) + '\nSUPPORT:\t' + str(results[i][1]))

In [19]:
results_list.sort(reverse = True)
results_list[:10]

["RULE:/tfrozenset({'40', '0'})\nSUPPORT:\t0.53",
 "RULE:/tfrozenset({'0'})\nSUPPORT:\t1.0",
 "RULE:/tfrozenset({'0', ' United-States'})\nSUPPORT:\t0.85",
 "RULE:/tfrozenset({'0', ' United-States', ' <=50K'})\nSUPPORT:\t0.63",
 "RULE:/tfrozenset({'0', ' <=50K'})\nSUPPORT:\t0.74",
 "RULE:/tfrozenset({' White'})\nSUPPORT:\t0.82",
 "RULE:/tfrozenset({' White', '0'})\nSUPPORT:\t0.82",
 "RULE:/tfrozenset({' White', '0', ' United-States'})\nSUPPORT:\t0.73",
 "RULE:/tfrozenset({' White', '0', ' United-States', ' <=50K'})\nSUPPORT:\t0.53",
 "RULE:/tfrozenset({' White', '0', ' <=50K'})\nSUPPORT:\t0.6"]

In [20]:
#higher value of min_confidence = interest
rules = apriori(records, min_support=0.52, min_confidence=0.80,  min_length = 4) #for 80% confidence (Combination - 2)

results = list(rules)
results_list = []
for i in range(0, len(results)):
    results_list.append('RULE:/t' + str(results[i][0]) + '\nSUPPORT:\t' + str(results[i][1]))

In [21]:
results_list.sort(reverse = True)
results_list[:10]

["RULE:/tfrozenset({'40', '0'})\nSUPPORT:\t0.53",
 "RULE:/tfrozenset({'0'})\nSUPPORT:\t1.0",
 "RULE:/tfrozenset({'0', ' United-States'})\nSUPPORT:\t0.85",
 "RULE:/tfrozenset({'0', ' United-States', ' <=50K'})\nSUPPORT:\t0.63",
 "RULE:/tfrozenset({'0', ' <=50K'})\nSUPPORT:\t0.74",
 "RULE:/tfrozenset({' White'})\nSUPPORT:\t0.82",
 "RULE:/tfrozenset({' White', '0'})\nSUPPORT:\t0.82",
 "RULE:/tfrozenset({' White', '0', ' United-States'})\nSUPPORT:\t0.73",
 "RULE:/tfrozenset({' White', '0', ' United-States', ' <=50K'})\nSUPPORT:\t0.53",
 "RULE:/tfrozenset({' White', '0', ' <=50K'})\nSUPPORT:\t0.6"]

In [22]:
#higher value of min_confidence = interest
rules = apriori(records, min_support=0.52, min_confidence=0.90,  min_length = 4) #for 90% confidence (Combination - 3)

results = list(rules)
results_list = []
for i in range(0, len(results)):
    results_list.append('RULE:/t' + str(results[i][0]) + '\nSUPPORT:\t' + str(results[i][1]))

In [23]:
results_list.sort(reverse = True)
results_list[:10]

["RULE:/tfrozenset({'40', '0'})\nSUPPORT:\t0.53",
 "RULE:/tfrozenset({'0'})\nSUPPORT:\t1.0",
 "RULE:/tfrozenset({'0', ' United-States'})\nSUPPORT:\t0.85",
 "RULE:/tfrozenset({'0', ' United-States', ' <=50K'})\nSUPPORT:\t0.63",
 "RULE:/tfrozenset({'0', ' <=50K'})\nSUPPORT:\t0.74",
 "RULE:/tfrozenset({' White', '0'})\nSUPPORT:\t0.82",
 "RULE:/tfrozenset({' White', '0', ' United-States'})\nSUPPORT:\t0.73",
 "RULE:/tfrozenset({' White', '0', ' United-States', ' <=50K'})\nSUPPORT:\t0.53",
 "RULE:/tfrozenset({' White', '0', ' <=50K'})\nSUPPORT:\t0.6",
 "RULE:/tfrozenset({' White', ' Male', '0'})\nSUPPORT:\t0.61"]

**Part c**: Try to formulate some questions that you want to ask of your rule learning extraction systems.
Select the attributes that will be required to answer your questions. Run Association rule mining
to extract interesting patterns. Show at-least 10 rules. Explain the rules and why you consider it
interesting and useful. Explain what insight you got regarding your questions.

In [24]:
rules = apriori(records, min_support=0.45, min_confidence=0.65,  min_length = 14)

results = list(rules)
results_list = []
for i in range(0, len(results)):
    results_list.append('RULE:/t' + str(results[i][0]) + '\nSUPPORT:\t' + str(results[i][1]))

In [25]:
results_list.sort(reverse = True)
results_list[:10]

["RULE:/tfrozenset({'40', '0'})\nSUPPORT:\t0.53",
 "RULE:/tfrozenset({'0'})\nSUPPORT:\t1.0",
 "RULE:/tfrozenset({'0', ' United-States'})\nSUPPORT:\t0.85",
 "RULE:/tfrozenset({'0', ' United-States', ' <=50K'})\nSUPPORT:\t0.63",
 "RULE:/tfrozenset({'0', ' <=50K'})\nSUPPORT:\t0.74",
 "RULE:/tfrozenset({' White'})\nSUPPORT:\t0.82",
 "RULE:/tfrozenset({' White', '0'})\nSUPPORT:\t0.82",
 "RULE:/tfrozenset({' White', '0', ' United-States'})\nSUPPORT:\t0.73",
 "RULE:/tfrozenset({' White', '0', ' United-States', ' <=50K'})\nSUPPORT:\t0.53",
 "RULE:/tfrozenset({' White', '0', ' <=50K'})\nSUPPORT:\t0.6"]

All the rules gained by applying apriori are important and interesting as they tell the association and the most probabe outcome of whether the income will be greater than or less than 50 according too the give combnation of other things