In [53]:
# Task 1
def removeValue(sampleList, val):
  # LAB (begin solution)
  sampleList = [value for value in sampleList if val != value]
  return sampleList
  pass
  # LAB (end solution)
List = [5,20,15,20,25,50,20]
val = 20
print(removeValue(List , val))

[5, 15, 25, 50]

In [12]:
# Task 2
def findAndReplaceValue(sampleList, val):
  # LAB (begin solution)
  first_occurence = 0
  for i in range(0 , len(sampleList)):
    if val == sampleList[i]:
        if first_occurence == 0 :
         first_occurence = 1
         sampleList[i] = 200
  return sampleList
  #pass
  # LAB (end solution)
List = [5,10,15,20,25,50,20]
val = 20
print(findAndReplaceValue(List , val))

[5, 10, 15, 200, 25, 50, 20]

In [14]:
# Task 3
def vehicleWeight(vehicleDict):
  # LAB (begin solution)
  name_list = []
  name_list = [name.upper() for name , weight in vehicleDict.items() if weight < 5000]
  return name_list
  pass
  # LAB (end solution)
dict={"Sedan": 1500, "SUV": 2000, "Pickup": 2500, "Minivan": 1600, "Van": 2400, "Semi": 13600, "Bicycle": 7, "Motorcycle": 110}
print(vehicleWeight(dict))

['SEDAN', 'SUV', 'PICKUP', 'MINIVAN', 'VAN', 'BICYCLE', 'MOTORCYCLE']

In [55]:
# Task 4
def sortTuple(tupleSort):
  # LAB (begin solution)
  tupleSort = (sorted(tuple1, key=lambda x: x[1]))
  return tupleSort
  pass
  # LAB (end solution)
tuple1 = (('a',23) , ('b' , 37) , ('c' , 11) , ('d' , 29))
print(sortTuple(tuple1))

[('c', 11), ('a', 23), ('d', 29), ('b', 37)]

In [18]:
# Task 5
def checkSameTuple(checkTuple):
  # LAB (begin solution)
  ans = 1
  for i in range(0 , len(checkTuple)-1):
    if checkTuple[i] != checkTuple[i+1]:
      ans = 0
      break
  if ans == 1:
    return True
  else:
    return False
  pass
  # LAB (end solution)
tuple1 = (45, 45, 45, 45)
print(checkSameTuple(tuple1))

True

In [32]:
# Task 6
def stockTuple():
  # LAB (begin solution)
  stocks_tuple = [("Purchase Date" , "Purchase Price" , "Shares" , "Symbol" , "Current Price"),
                  ("25 Jan 2001" , 43.50 , 25 , "CAT" , 92.45),
                  ("25 Jan 2001" , 42.80 , 50 , "DD" ,  51.19),
                  ("25 Jan 2001" , 42.10 , 75 , "EK" , 34.87),
                  ("25 Jan 2001" , 37.58 , 100 , "GM" , 37.58)]
  return stocks_tuple
  pass
  # LAB (end solution)

def totalPurchasePrice(stocks):
  # LAB (begin solution)
  total = 0
  for data in stocks[1:]:
    purchase_price = data[1] * data[2]
    total = total + purchase_price
  return total
  pass
  # LAB (end solution)

def totalProfitLoss(stocks):
  # LAB (begin solution)
  total_purchase = 0
  total_current = 0
  for data in stocks[1:]:
    purchase_price = data[1] * data[2]
    current_price = data[2] * data[4]
    total_purchase = total_purchase + purchase_price
    total_current = total_current + current_price
  profit_loss = total_current - total_purchase
  return profit_loss
  pass
  # LAB (end solution)

stock = stockTuple()
for i in range(0,len(stock)):
  print(stock[i])

print("\nTotal Purchase Price " , totalPurchasePrice(stock))

if totalProfitLoss(stock) > 0:
  print("Profit = " , totalProfitLoss(stock) ," , Loss = 0")
else:
  print("Profit =  0" , " , Loss = " , totalProfitLoss(stock))

('Purchase Date', 'Purchase Price', 'Shares', 'Symbol', 'Current Price')
('25 Jan 2001', 43.5, 25, 'CAT', 92.45)
('25 Jan 2001', 42.8, 50, 'DD', 51.19)
('25 Jan 2001', 42.1, 75, 'EK', 34.87)
('25 Jan 2001', 37.58, 100, 'GM', 37.58)

Total Purchase Price  10143.0
Profit =  1101.0  , Loss = 0

In [49]:
# Task 7
def deleteDict(sampleDict, keysToRemove):
  # LAB (begin solution)
  return {key: sampleDict[key] for key in sampleDict if key not in keysToRemove}
  pass
  # LAB (end solution)

sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  }
keysToRemove = ["name", "salary"]
print(deleteDict(sampleDict, keysToRemove))

{'age': 25, 'city': 'New york'}

In [45]:
# Task 8
def initializeDict(employees, defaults):
  # LAB (begin solution)
  dictionary = {data: defaults.copy() for data in employees}
  # LAB (end solution)
  return dictionary
  pass

employees = {'Kelly' , 'Emma' , 'John'}
defaults = {"designation" : 'Application Developer' , "salary" : 8000}

print(initializeDict(employees , defaults))

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}}

In [56]:
def main():

  list1 = [5, 20, 15, 20, 25, 50, 20]

  resList = removeValue(list1, 20)
  print(resList)

  resList = findAndReplaceValue(list1, 20)
  print(resList)

  vehicleDict = {"Sedan": 1500, "SUV": 2000, "Pickup": 2500, "Minivan": 1600, "Van": 2400, "Semi": 13600, "Bicycle": 7, "Motorcycle": 110}
  lst = vehicleWeight(vehicleDict)
  print(lst)

  tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))
  tuple1 = sortTuple(tuple1)
  print(tuple1)

  tuple1 = (45, 45, 45, 45)
  checkSame = checkSameTuple(tuple1)
  print(checkSame)

  print(totalPurchasePrice(stockTuple()))
  print(totalProfitLoss(stockTuple()))

  sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  }
  keysToRemove = ["name", "salary"]
  print(deleteDict(sampleDict, keysToRemove))

  employees = ['Kelly', 'Emma', 'John']
  defaults = {"designation": 'Application Developer', "salary": 8000}

  resDict = initializeDict(employees, defaults)
  print(resDict)

In [57]:
'''
Python files .py are modules. Modules can define variables, functions, and classes.
When a Python interpreter reads a Python file, it first sets a few special variables.
Then it executes the code from the file.

One of those variables is called __name__.

When the interpreter runs a module, the __name__ variable will be set as  __main__
if the module that is being run is the main program.

If the code is importing the module from another module, then the __name__
variable will be set to that module’s name.
'''
# Standard boilerplate to call the main() function.
if __name__ == '__main__':
  main()

[5, 15, 25, 50]
[5, 200, 15, 20, 25, 50, 20]
['SEDAN', 'SUV', 'PICKUP', 'MINIVAN', 'VAN', 'BICYCLE', 'MOTORCYCLE']
[('c', 11), ('a', 23), ('d', 29), ('b', 37)]
True
10143.0
1101.0
{'age': 25, 'city': 'New york'}
{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}